body
{
    margin :0px;    
    font-family: Georgia, "Times New Roman",Times, serif;
    color:black;
}

input[type="text"]
{
    width:150px;
}
.textform{
    float:left;
    width:130px; 
}